In [1]:
import pandas as pd

entities_df = pd.read_csv("entities_per_url.csv")
entities_df.head()

,SOURCEURL,domain,title,entity,label,count
0,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Tesla,ORG,24
1,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Elon Musk,PERSON,3
2,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Trump,PERSON,5
3,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,"the """,LAW,1
4,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Musk,PERSON,15

In [2]:
print(entities_df['label'].unique())

['ORG' 'PERSON' 'LAW' 'DATE' 'GPE' 'CARDINAL' 'NORP' 'MONEY' 'WORK_OF_ART'
 'ORDINAL' 'PERCENT' 'PRODUCT' 'TIME' 'QUANTITY' 'LOC' 'FAC' 'EVENT'
 'LANGUAGE']

In [3]:
entities_sorted = entities_df.sort_values(by="count", ascending=False)

In [4]:
entities_sorted.head(20)

,SOURCEURL,domain,title,entity,label,count
1005504,https://www.opinionnigeria.com/xai-buys-social...,opinionnigeria.com,xAI buys social media platform X (Twitter) for...,30 days,DATE,2550
1973822,https://www.opinionnigeria.com/petrol-consumpt...,opinionnigeria.com,Nigeria’s Petrol Consumption Falls 28% as CNG ...,30 days,DATE,2550
1458585,https://www.opinionnigeria.com/russia-powering...,opinionnigeria.com,Russia Powering Ghana's Sustainable Energy -By...,30 days,DATE,2550
1690727,https://www.opinionnigeria.com/ibedc-warns-cus...,opinionnigeria.com,"IBEDC warns customers against energy theft, sa...",30 days,DATE,2550
2061081,https://www.opinionnigeria.com/petrol-pump-man...,opinionnigeria.com,Fuel Pump Manipulation in Nigeria: How Petrol ...,30 days,DATE,2550
415655,https://www.opinionnigeria.com/minimum-wage-la...,opinionnigeria.com,"Minimum wage: Lagos NLC shuts TV, radio statio...",30 days,DATE,2550
1582779,https://www.opinionnigeria.com/mali-junta-lead...,opinionnigeria.com,Mali junta leader Assimi Goïta gets renewable ...,30 days,DATE,2550
1189700,https://www.opinionnigeria.com/mali-banks-and-...,opinionnigeria.com,Mali banks and gas stations suspend strike aft...,30 days,DATE,2550
1719537,https://www.eurasiareview.com/21072025-iraq-en...,eurasiareview.com,Iraq Energy Profile: Second-Highest OPEC Oil P...,Iraq,GPE,241
935979,https://www.hindustantimes.com/world-news/suni...,hindustantimes.com,Sunita Williams Return highlights: World celeb...,Sunita Williams,PERSON,152
384834,https://www.businessinsider.com/tesla-tsla-sto...,businessinsider.com,Tesla Earnings Recap: Musk Warns Next Quarters...,Tesla,ORG,134
395986,https://www.businessinsider.com/tesla-q2-earni...,businessinsider.com,Tesla Earnings Recap: Musk Warns Next Quarters...,Tesla,ORG,134
395326,https://www.businessinsider.com/tesla-stock-pr...,businessinsider.com,Tesla Earnings Recap: Musk Warns Next Quarters...,Tesla,ORG,134
894239,https://www.hindustantimes.com/world-news/suni...,hindustantimes.com,"Highlights: Sunita Williams, Butch Wilmore spe...",Sunita Williams,PERSON,131
1182271,https://www.thehindubusinessline.com/markets/s...,thehindubusinessline.com,Ather Energy IPO GMP Day 3 Updates: IPO Subscr...,Ather Energy,ORG,114
1533521,https://www.finanznachrichten.de/nachrichten-2...,finanznachrichten.de,Strathcona Resources Ltd. Commences Offer to A...,Strathcona,ORG,109
1735315,https://www.investegate.co.uk/announcement/rns...,investegate.co.uk,Proposed Placing & Subscription & RetailBook O...,Placing,ORG,105
1534109,https://en.apa.az/official-news/president-ilha...,apa.az,President Ilham Aliyev addressed official open...,Azerbaijan,GPE,104
1576746,https://www.eurasiareview.com/13062025-ukraine...,eurasiareview.com,Ukraine Energy Profile: Accelerating Integrati...,Ukraine,GPE,100
1393674,https://www.eurasiareview.com/20052025-china-e...,eurasiareview.com,China Energy Profile: Non-Fossil Fuels Account...,China,GPE,99

In [6]:
labels = entities_df['label'].unique()

for lbl in labels:
    print(f"\nLabel: {lbl}")
    sample = entities_df[entities_df['label'] == lbl].sample(n=3, random_state=42, replace=True)
    print(sample[['label', 'entity']])

Label: ORG
        label                                 entity
531726    ORG                    KAOUN International
561849    ORG         the MIT Thermal Energy Network
1446726   ORG  The Montana Public Service Commission

Label: PERSON
          label       entity
949798   PERSON       Kharge
1174216  PERSON    Steve Hoy
1032013  PERSON  Harley Peet

Label: LAW
        label                entity
1825198   LAW      EWHC 376 (Admlty
321516    LAW  Clause 5.3.4A(b1) of
813976    LAW   The Abraham Accords

Label: DATE
       label        entity
701220  DATE  a year prior
860651  DATE          2021
764382  DATE         daily

Label: GPE
        label      entity
928419    GPE  WASHINGTON
1107763   GPE   Indonesia
1002982   GPE      France

Label: CARDINAL
            label    entity
1736106  CARDINAL       one
2115854  CARDINAL      four
1895927  CARDINAL  hundreds

Label: NORP
        label          entity
516276   NORP           Black
23059    NORP         African
1854064  NORP  Middle Eastern

Label: MONEY
         label                   entity
377762   MONEY  only 15.74 million yuan
27825    MONEY        about $65 billion
2010837  MONEY          Rs 23,793 crore

Label: WORK_OF_ART
               label                        entity
1392908  WORK_OF_ART                 Tango Charlie
132074   WORK_OF_ART                a Purple Heart
1068129  WORK_OF_ART  State of the Industry Report

Label: ORDINAL
           label entity
1034914  ORDINAL  first
59669    ORDINAL  fifth
735508   ORDINAL  First

Label: PERCENT
           label            entity
1940174  PERCENT                5%
410071   PERCENT  approximately 1%
23855    PERCENT               59%

Label: PRODUCT
           label     entity
301709   PRODUCT       Semi
16352    PRODUCT  Endurance
1339008  PRODUCT  Real-Time

Label: TIME
        label     entity
816862   TIME  30-second
33305    TIME    morning
2067742  TIME    evening

Label: QUANTITY
            label                       entity
2095640  QUANTITY  18.3 billion kilowatt-hours
739914   QUANTITY                10,000-barrel
74436    QUANTITY                       250-kW

Label: LOC
        label        entity
804640    LOC          Moon
66016     LOC  the Bay area
1684203   LOC      Atlantic

Label: FAC
        label                           entity
2227446   FAC                        Wandallah
763828    FAC  Novocastrian Offshore Wind Farm
47044     FAC                    Interstate 40

Label: EVENT
         label                   entity
1158626  EVENT              Kazan Forum
208631   EVENT  Tribeca Festival Lisboa
863714   EVENT                 CES 2025

Label: LANGUAGE
            label      entity
2248121  LANGUAGE       Hindi
1729525  LANGUAGE  Vietnamese
2257287  LANGUAGE   Icelandic

In [7]:
# labels to remove
remove_labels = ['DATE', 'CARDINAL', 'NORP', 'MONEY', 'ORDINAL', 'PERCENT', 'TIME', 'LANGUAGE']

# create new DataFrame without these labels
filtered_df = entities_df[~entities_df['label'].isin(remove_labels)]

# preview
filtered_df.head()

,SOURCEURL,domain,title,entity,label,count
0,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Tesla,ORG,24
1,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Elon Musk,PERSON,3
2,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Trump,PERSON,5
3,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,"the """,LAW,1
4,https://timesofindia.indiatimes.com/world/us/e...,indiatimes.com,“Elon Musk has got to go”: Activists launch 'T...,Musk,PERSON,15

In [8]:
labels_to_sample = ['QUANTITY', 'PRODUCT', 'LAW']

for lbl in labels_to_sample:
    print(f"\nLabel: {lbl}")
    sample = filtered_df[filtered_df['label'] == lbl].sample(n=15, random_state=42, replace=True)
    print(sample[['label', 'entity']])

Label: QUANTITY
            label                       entity
2095640  QUANTITY  18.3 billion kilowatt-hours
739914   QUANTITY                10,000-barrel
74436    QUANTITY                       250-kW
1499084  QUANTITY                    4.5 watts
2021347  QUANTITY               500,000 tonnes
1719738  QUANTITY         another 2 million b/
585501   QUANTITY                 A single ton
2043032  QUANTITY          35.2 million tonnes
408618   QUANTITY                       100 MW
775688   QUANTITY                     403-foot
1468555  QUANTITY            at least 1000 kWh
973441   QUANTITY                     19.7 TWh
1803817  QUANTITY     between 5kWh and 100kWh.
2254597  QUANTITY                        up to
1700837  QUANTITY              3.70m tonnes)in

Label: PRODUCT
           label                           entity
301709   PRODUCT                             Semi
16352    PRODUCT                        Endurance
1339008  PRODUCT                        Real-Time
1723413  PRODUCT                 Natural Hydrogen
231601   PRODUCT                             Doge
121359   PRODUCT                               R2
324353   PRODUCT        the Nexode 300W 48,000mAh
1276431  PRODUCT                          Galileo
405631   PRODUCT             Blue Ghost Mission 1
1866601  PRODUCT                               E8
1695723  PRODUCT  Ocean Thermal Energy Conversion
306002   PRODUCT                         Sentinel
1506468  PRODUCT              Virtual Power Plant
34161    PRODUCT                           TikTok
14509    PRODUCT                           Beetle

Label: LAW
        label                                        entity
1825198   LAW                              EWHC 376 (Admlty
321516    LAW                          Clause 5.3.4A(b1) of
813976    LAW                           The Abraham Accords
1460631   LAW                    the Defense Production Act
1400676   LAW                 a Memorandum of Understanding
912498    LAW           a Share Sale and Purchase Agreement
1930693   LAW                                      AEW 2025
709184    LAW                          the Terms of Use and
1697042   LAW                         the Joint Declaration
1407478   LAW                           the Paris Agreement
1853098   LAW  The Turkey-Iraq Crude Oil Pipeline Agreement
1115929   LAW                  10CFR810 to Provide SMR-300s
458233    LAW                                          DCRF
310632    LAW                         Electricity, 2003 Act
520818    LAW                    National Policy Statements

In [9]:
top_law = entities_df[entities_df['label'] == 'LAW'] \
            .sort_values(by='count', ascending=False) \
            .head(20)[['entity', 'label', 'count']]

top_law

                              entity label  count
1735375        the Placing Agreement   LAW     35
539847   the Liquidation Resolutions   LAW     26
1077739                   Proposal 3   LAW     24
1818102               Regulation 833   LAW     24
436030                    E.O. 14024   LAW     24
1418380              Senate Bill 349   LAW     23
1701168   these Terms and Conditions   LAW     21
805461         the Trinidad Disposal   LAW     21
615837           the Paris Agreement   LAW     19
1878222                      Act 129   LAW     18
1701179        the Placing Agreement   LAW     18
852933                       Charter   LAW     16
1308600                         CAFE   LAW     15
1108636                       AB 306   LAW     15
1735295  the Fundraising Resolutions   LAW     14
1810952              the Action Plan   LAW     13
799979                 the Jones Act   LAW     13
1735404           the Securities Act   LAW     12
633188                       Title V   LAW     12
643003               Right to Repair   LAW     12

In [10]:
top_law_by_articles = (
    entities_df[entities_df['label'] == 'LAW']
    .groupby('entity')['SOURCEURL']
    .nunique()
    .sort_values(ascending=False)
    .head(20)
    .reset_index()
    .rename(columns={'SOURCEURL': 'article_count'})
)

top_law_by_articles

                                       entity  article_count
0                         the Paris Agreement            285
1               a Memorandum of Understanding            240
2                                Constitution            117
3                           the Clean Air Act             94
4                             First Amendment             82
5                                 Budget 2025             74
6                                 Vision 2030             72
7       the National Environmental Policy Act             69
8                  the Petroleum Industry Act             66
9                             Paris Agreement             59
10                        the First Amendment             56
11                                Mission 300             55
12                        the Clean Water Act             54
13  the United States-Mexico-Canada Agreement             52
14   the European Union (Withdrawal) Act 2018             52
15                Memorandum of Understanding             46
16                the Paris Climate Agreement             45
17             the One Big Beautiful Bill Act             44
18          the Sustainable Development Goals             44
19                           Clean Power 2030             43

In [11]:
top_product_by_articles = (
    entities_df[entities_df['label'] == 'PRODUCT']
    .groupby('entity')['SOURCEURL']
    .nunique()
    .sort_values(ascending=False)
    .head(20)
    .reset_index()
    .rename(columns={'SOURCEURL': 'article_count'})
)

top_product_by_articles

               entity  article_count
0          Cybertruck           1489
1             Model Y           1295
2              Teslas           1261
3            Falcon 9            917
4             Model 3            755
5                   X            669
6            Starship            655
7              Dragon            605
8         Cybertrucks            539
9           Starliner            470
10            Model S            406
11        the Model Y            402
12               Grok            367
13            ChatGPT            363
14            Optimus            322
15          Autopilot            321
16                EVs            314
17  Full Self-Driving            281
18                 EV            249
19           Starlink            246

In [14]:
law_keep = [
    "the Paris Agreement",
    "a Memorandum of Understanding",
    "the Clean Air Act",
    "Vision 2030",
    "the National Environmental Policy Act",
    "the Petroleum Industry Act",
    "Paris Agreement"
]

product_keep = [
    "Cybertruck", "Model Y", "Model 3", "Model S",
    "Optimus", "Autopilot", "EVs", "Full Self-Driving"
]

law_filtered = filtered_df[
    (filtered_df['label'] == 'LAW') &
    (filtered_df['entity'].str.contains('|'.join(law_keep), regex=True))
]

product_filtered = filtered_df[
    (filtered_df['label'] == 'PRODUCT') &
    (filtered_df['entity'].isin(product_keep))
]

other_filtered = filtered_df[
    ~filtered_df['label'].isin(['LAW', 'QUANTITY', 'PRODUCT'])
]

final_filtered_df = pd.concat([law_filtered, product_filtered, other_filtered], ignore_index=True)

final_filtered_df.head()

,SOURCEURL,domain,title,entity,label,count
0,https://www.energy-storage.news/tesla-lands-ta...,energy-storage.news,Tesla lands tax abatement deal for Texas Megap...,a Memorandum of Understanding,LAW,1
1,https://www.motherjones.com/politics/2025/02/e...,motherjones.com,Everything Elon Musk Touches Is a Conflict of ...,the Clean Air Act,LAW,1
2,https://cyprus-mail.com/2025/04/10/tesla-enter...,cyprus-mail.com,Tesla enters Saudi's nascent EV market | Cypr...,Vision 2030,LAW,1
3,https://www.domain-b.com/industry/industry-gen...,domain-b.com,Tesla enters Saudi Arabia: A cautious debut am...,Vision 2030,LAW,2
4,https://www.winnipegfreepress.com/business/202...,winnipegfreepress.com,Tesla launches in Saudi Arabia with its first ...,Vision 2030,LAW,1

In [15]:
final_filtered_df.sort_values(by="count", ascending=False).reset_index(drop=True)

,SOURCEURL,domain,title,entity,label,count
0,https://www.eurasiareview.com/21072025-iraq-en...,eurasiareview.com,Iraq Energy Profile: Second-Highest OPEC Oil P...,Iraq,GPE,241
1,https://www.hindustantimes.com/world-news/suni...,hindustantimes.com,Sunita Williams Return highlights: World celeb...,Sunita Williams,PERSON,152
2,https://www.businessinsider.com/tesla-tsla-sto...,businessinsider.com,Tesla Earnings Recap: Musk Warns Next Quarters...,Tesla,ORG,134
3,https://www.businessinsider.com/tesla-stock-pr...,businessinsider.com,Tesla Earnings Recap: Musk Warns Next Quarters...,Tesla,ORG,134
4,https://www.businessinsider.com/tesla-q2-earni...,businessinsider.com,Tesla Earnings Recap: Musk Warns Next Quarters...,Tesla,ORG,134
...,...,...,...,...,...,...
1321156,https://frontpageafricaonline.com/news/top-can...,frontpageafricaonline.com,Top Canadian Officials Visit Liberia to Explor...,Monrovia,GPE,1
1321157,https://frontpageafricaonline.com/news/top-can...,frontpageafricaonline.com,Top Canadian Officials Visit Liberia to Explor...,the African Development Bank,ORG,1
1321158,https://frontpageafricaonline.com/news/top-can...,frontpageafricaonline.com,Top Canadian Officials Visit Liberia to Explor...,AfDB,ORG,1
1321159,https://frontpageafricaonline.com/news/top-can...,frontpageafricaonline.com,Top Canadian Officials Visit Liberia to Explor...,Camara,PERSON,1
1321160,https://www.thedailystar.net/news/bangladesh/c...,thedailystar.net,Netrakona shop owner found murdered near polic...,Mohanganj Grocery Traders' Association,ORG,1

In [16]:
# group by entity and sum their counts
entity_counts = final_filtered_df.groupby('entity')['count'].sum().reset_index()

# total mentions overall
total_mentions = entity_counts['count'].sum()

# compute percentage contribution per entity
entity_counts['percent'] = (entity_counts['count'] / total_mentions) * 100

# sort by total mentions descending
entity_counts = entity_counts.sort_values('count', ascending=False).reset_index(drop=True)

# cumulative percentage to find coverage thresholds (like 90%, 95%)
entity_counts['cumulative_percent'] = entity_counts['percent'].cumsum()

entity_counts.head(20)

               entity  count   percent  cumulative_percent
0               Tesla  83596  3.638980            3.638980
1                Musk  38523  1.676928            5.315908
2               Trump  37593  1.636444            6.952352
3                U.S.  32466  1.413263            8.365615
4                  US  23607  1.027626            9.393241
5               China  21966  0.956192           10.349433
6               India  21700  0.944613           11.294046
7              SpaceX  16665  0.725437           12.019483
8              Russia  15466  0.673244           12.692726
9              Europe  13863  0.603464           13.296190
10          Elon Musk  11876  0.516969           13.813159
11            Ukraine  11435  0.497772           14.310931
12             Africa  10843  0.472002           14.782933
13                 UK  10664  0.464210           15.247143
14             Canada  10193  0.443707           15.690849
15       Donald Trump   9985  0.434653           16.125502
16                 EU   9010  0.392210           16.517712
17  the United States   8788  0.382547           16.900259
18               NASA   8378  0.364699           17.264958
19            Nigeria   7287  0.317207           17.582165